body {
    font-family: Arial, sans-serif;
    background-color: #1F2833;
    color: #66fcf1;
    margin: 0;
    padding: 0;
}

header {
    color: #66fcf1;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #66fcf1;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #66fcf1;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

footer {
    color: #66fcf1;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: #66fcf1;
}

li a:hover {
    color: #45A29E;
}